In [21]:
for i in range(1,6):
  for j in range(i,5):
    print(" ",end="")
  for k in range (1,i+1):
    print("*", end=" ")
  print(" ")

    *
   * *
  * * *
 * * * *
* * * * *

In [22]:
for i in range(5,0,-1):
  for j in range(i,5):
    print(" ",end="")
  for k in range (1,i+1):
    print("*", end=" ")
  print(" ")

* * * * *
 * * * *
  * * *
   * *
    *

In [26]:
for i in range(1,6):
  a=65
  for j in range(i,5):
    print(" ",end="")
  for k in range (1,i+1):
    print(chr(a), end=" ")
    a+=1
  print(" ")

    A
   A B
  A B C
 A B C D
A B C D E

In [27]:
a=65
for i in range(1,6):
  for j in range(i,5):
    print(" ",end="")
  for k in range (1,i+1):
    print(chr(a), end=" ")
    a+=1
  print(" ")

    A
   B C
  D E F
 G H I J
K L M N O

In [45]:
for i in range(1,6):
  for j in range(1,i+1):
    if(i==j or j==1 or i==5):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*
* *
*   *
*     *
* * * * *

In [60]:
for i in range(1,6):
  for j in range(i,5):
    print(" ",end="")
  for k in range (1,i+1):
    if(k==1 or i==5 or i==k):
      print("*", end=" ")
    else:
      print(" ",end=" ")
  print(" ")

    *
   * *
  *   *
 *     *
* * * * *

In [62]:
a=1
for i in range(1,6):
  for j in range(i,5):
    print(" ",end="")
  for k in range (1,i+1):
    if(k==1 or i==5 or i==k):
      print(a, end=" ")
    else:
      print(" ",end=" ")
    a+=1
  print(" ")

    1
   2 3
  4   6
 7     10
11 12 13 14 15

In [65]:
# list = it is a data type which store multiple values in square brackets "[]"
# it is a collection of elements and also based on index working
# it is a mutuable sata type
# it is also called sequence data type
# it store every type of data
# such as
x=["a",12,True,12.5]
print(type(x))

<class 'list'>

In [69]:
a =[10,12,15,42,15]
a[0]=14
print(a)
print(type(x[1]))

[14, 12, 15, 42, 15]
<class 'int'>

In [73]:
a =[10,12,15,42,15]
a[0]=14
a.append(23)
a.extend(("hello"))
a.extend((["hello",46,10.3235]))
print(a)
print(type(x[1]))

[14, 12, 15, 42, 15, 23, 'h', 'e', 'l', 'l', 'o', 'hello', 46, 10.3235]
<class 'int'>

In [79]:
a =[10,12,15,42,15]
a[0]=14
a.append(23)
a.insert(2,"jj")
a.extend(("hello"))
a.extend((["hello",46,10.3235]))
c=a.pop()
a.remove(15)
q= 0
for i in a:
  q+=1
print(q)
print(a)
print(c)
print(type(x[1]))

13
[14, 12, 'jj', 42, 15, 23, 'h', 'e', 'l', 'l', 'o', 'hello', 46]
10.3235
<class 'int'>

In [81]:
a=[14, 12, 'jj', 42, 15, 23, 'h', 'e', 'l', 'l', 'o', 'hello', 46]
for i in a:
  if (type(i)==int):
    print(i)

14
12
42
15
23
46

In [82]:
lst = [5, 10, 15, 20]
total = 0
for i in lst:
    total += i / 2
print(total)

25.0

In [83]:


x = 0
for i in range(1, 6):
    for j in range(i):
        x += i
print(x)

55

In [84]:
x = 0
for i in range(3, 0, -1):
    for j in range(1, 4):
        if i == 2:
            break
        x += i
print(x)

12

In [85]:
lst = [5, 10, 15, 20]
total = 0
for i in lst:
    total += i / 2
print(total)

25.0