In [4]:
# 1.     ABCDE
#       ABCDE
#      ABCDE
#     ABCDE
#    ABCDE

for i in range(1,6):
  a=65
  for j in range(6,i+1,-1):
      print(" ",end="")
  for k in range(1,6):
      print(chr(a),end="")
      a+=1
  print("")

    ABCDE
   ABCDE
  ABCDE
 ABCDE
ABCDE

In [97]:
# 2.      *
#       * * *
#     * * * * *
#   * * * * * * *

for i in range(1,5):
  for j in range(i,4):
    print(" ",end=" ")
  for k in range(1,i+1):
    print("*",end=" ")
  for l in range(1,i):
    print("*",end=" ")
  print()

      *
    * * *
  * * * * *
* * * * * * *

In [9]:
# 3. *
#   * *
#  *   *
# * * * *

for i in range(1,5):
  for j in range(i,4):
    print(" ",end="")
  for k in range(1,i+1):
    if(k==1 or i==4 or k==i):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

   *
  * *
 *   *
* * * *

In [12]:
# 4.    * * * * * * *
#         * * * * *
#           * * *
#             *

for i in range(4,0,-1):
  for j in range(i,5):
    print(" ",end=" ")
  for k in range(1,i+1):
    print("*",end=" ")
  for l in range(1,i):
    print("*",end=" ")
  print()

  * * * * * * *
    * * * * *
      * * *
        *

In [27]:
# 5.  *
#     **
#     ***
#     ****
#     ****
#     ***
#     **
#     *

for i in range(1,6):
  for j in range(1,i):
    print("*",end="")
  print()

for i in range(5,0,-1):
  for j in range(1,i):
    print("*",end="")
  print()

*
**
***
****
****
***
**
*

In [58]:
# 6.      *
#       * *
#     * * *
#   * * * *
#     * * *
#       * *
#         *

for i in range(1,5):
  for j in range(4,i,-1):
    print(" ",end=" ")
  for k in range(1,i+1):
    print("*",end=" ")
  print()
for i in range(4,0,-1):
  for j in range(5,i,-1):
    print(" ",end=" ")
  for k in range(1,i):
    print("*",end=" ")
  print()

      *
    * *
  * * *
* * * *
  * * *
    * *
      *

In [64]:
# 7.      *
#       * * *
#     * * * * *
#   * * * * * * *
#     * * * * *
#       * * *
#         *


for i in range(1,5):
  for j in range(i,4):
    print(" ",end=" ")
  for k in range(1,i+1):
    print("*",end=" ")
  for l in range(1,i):
    print("*",end=" ")
  print()

for i in range(3,0,-1):
  for j in range(4,i,-1):
    print(" ",end=" ")
  for k in range(1,i+1):
    print("*",end=" ")
  for l in range(1,i):
    print("*",end=" ")
  print()

      *
    * * *
  * * * * *
* * * * * * *
  * * * * *
    * * *
      *

In [67]:
# 8.  1
#     1 2
#     1 2 3
#     1 2 3 4
#     1 2 3 4 5

for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [68]:
# 9. 1 2 3 4 5
#    1 2 3 4
#    1 2 3
#    1 2
#    1

for i in range(5,0,-1):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [69]:
# 10. 1
#     1 2
#     1   3
#     1     4
#     1 2 3 4 5

for i in range(1,6):
  for j in range(1,i+1):
    if(j==1 or i==j or i==5):
      print(j,end=" ")
    else:
      print(" ",end=" ")
  print()

1
1 2
1   3
1     4
1 2 3 4 5

In [75]:
# 11.       1
#         2 3 2
#       3 4 5 4 3
#     4 5 6 7 6 5 4
#   5 6 7 8 9 8 7 6 5

for i in range(1,6):
  for j in range(i,5):
    print(" ",end=" ")
  a=i
  for k in range(1,i+1):
    print(a,end=" ")
    a+=1
  a-=2
  for l in range(1,i):
    print(a,end=" ")
    a-=1
  print()

        1
      2 3 2
    3 4 5 4 3
  4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

In [78]:
# 12. 1
#    1 2
#   1   3
#  1     4
# 1 2 3 4 5

for i in range(1,6):
  for j in range(i,5):
    print(" ",end="")
  for k in range(1,i+1):
    if(k==1 or i==5 or k==i):
      print(k,end=" ")
    else:
      print(" ",end=" ")
  print()

    1
   1 2
  1   3
 1     4
1 2 3 4 5

In [89]:
# 13. 1 2 3 4 5
#     1     4
#     1   3
#     1 2
#     1

for i in range(5,0,-1):
  for j in range(1,i+1):
    if(j==1 or i==j or i==5):
      print(j,end=" ")
    else:
      print(" ",end=" ")
  print()

1 2 3 4 5
1     4
1   3
1 2
1

In [94]:
# 14.       *
#         * * *
#       * * * * *
#     * * * * * * *
#   * * * * * * * * *
#     * * * * * * *
#       * * * * *
#         * * *
#           *

for i in range(1,6):
  for j in range(i,5):
    print(" ",end=" ")
  for k in range(1,i+1):
    print("*",end=" ")
  for l in range(1,i):
    print("*",end=" ")
  print()

for i in range(4,0,-1):
  for j in range(5,i,-1):
    print(" ",end=" ")
  for k in range(1,i+1):
    print("*",end=" ")
  for l in range(1,i):
    print("*",end=" ")
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [100]:
# 15.         1
#           1 2 3
#         1 2 3 4 5
#       1 2 3 4 5 6 7
#     1 2 3 4 5 6 7 8 9
#       1 2 3 4 5 6 7
#         1 2 3 4 5
#           1 2 3
#             1

for i in range(1,6):
  a=1
  for j in range(i,5):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(a,end=" ")
    a+=1
  for l in range(1,i):
    print(a,end=" ")
    a+=1
  print()

for i in range(4,0,-1):
  a=1
  for j in range(5,i,-1):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(a,end=" ")
    a+=1
  for l in range(1,i):
    print(a,end=" ")
    a+=1
  print()

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1

In [104]:
# 16. 1 2 3 4 5 6 7 8 9
#       1 2 3 4 5 6 7
#         1 2 3 4 5
#           1 2 3
#             1
#           1 2 3
#         1 2 3 4 5
#       1 2 3 4 5 6 7
#     1 2 3 4 5 6 7 8 9

for i in range(5,0,-1):
  a=1
  for j in range(5,i,-1):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(a,end=" ")
    a+=1
  for l in range(1,i):
    print(a,end=" ")
    a+=1
  print()
for i in range(2,6):
  a=1
  for j in range(i,5):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(a,end=" ")
    a+=1
  for l in range(1,i):
    print(a,end=" ")
    a+=1
  print()

1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [107]:
# 17. A B C D E F G H I
#       A B C D E F G
#         A B C D E
#           A B C
#             A
#           A B C
#         A B C D E
#       A B C D E F G
#     A B C D E F G H I

for i in range(5,0,-1):
  a=65
  for j in range(5,i,-1):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(chr(a),end=" ")
    a+=1
  for l in range(1,i):
    print(chr(a),end=" ")
    a+=1
  print()
for i in range(2,6):
  a=65
  for j in range(i,5):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(chr(a),end=" ")
    a+=1
  for l in range(1,i):
    print(chr(a),end=" ")
    a+=1
  print()

A B C D E F G H I
  A B C D E F G
    A B C D E
      A B C
        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I

In [112]:
# 18. * * * * *
#     *       *
#     *       *
#     *       *
#     * * * * *

for i in range(1,6):
  for j in range(1,6):
    if(i==1 or i==5 or j==1 or j==5):
        print("*",end=" ")
    else:
        print(" ",end=" ")
  print()

* * * * *
*       *
*       *
*       *
* * * * *

In [113]:
# 19. 1 2 3 4 5
#     1       5
#     1       5
#     1       5
#     1 2 3 4 5

for i in range(1,6):
  for j in range(1,6):
    if(i==1 or i==5 or j==1 or j==5):
        print(j,end=" ")
    else:
        print(" ",end=" ")
  print()

1 2 3 4 5
1       5
1       5
1       5
1 2 3 4 5

In [114]:
# 20. A B C D E
#     A       E
#     A       E
#     A       E
#     A B C D E

for i in range(1,6):
  a=65
  for j in range(1,6):
    if(i==1 or i==5 or j==1 or j==5):
        print(chr(a),end=" ")
        a+=1
    else:
        print(" ",end=" ")
        a+=1

  print()

A B C D E
A       E
A       E
A       E
A B C D E

In [148]:
# 21.     *
#       *   *
#     *       *
#   *           *
# *               *
#   *           *
#     *       *
#       *   *
#         *

for i in range(1,6):
  for j in range(i,5):
    print(" ",end=" ")
  for k in range(1,i+1):
    if(k==1):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  for l in range(1,i):
    if(l==i-1):
      print("*",end=" ")
    else:
      print(" ",end=" ")

  print()

for i in range(4,0,-1):
  for j in range(5,i,-1):
    print(" ",end=" ")
  for k in range(1,i+1):
    if(k==1):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  for l in range(1,i):
    if(l==i-1):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

        *
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        *

In [149]:
# 22.     1
#       1   3
#     1       5
#   1           7
# 1               9
#   1           7
#     1       5
#       1   3
#         1

for i in range(1,6):
  a=1
  for j in range(i,5):
    print(" ",end=" ")
  for k in range(1,i+1):
    if(k==1):
      print(a,end=" ")
      a+=1
    else:
      print(" ",end=" ")
      a+=1
  for l in range(1,i):
    if(l==i-1):
      print(a,end=" ")
      a+=1
    else:
      print(" ",end=" ")
      a+=1
  print()

for i in range(4,0,-1):
  a=1
  for j in range(5,i,-1):
    print(" ",end=" ")
  for k in range(1,i+1):
    if(k==1):
      print(a,end=" ")
      a+=1
    else:
      print(" ",end=" ")
      a+=1
  for l in range(1,i):
    if(l==i-1):
      print(a,end=" ")
      a+=1
    else:
      print(" ",end=" ")
      a+=1
  print()

        1
      1   3
    1       5
  1           7
1               9
  1           7
    1       5
      1   3
        1

In [150]:
# 23.     A
#       A   C
#     A       E
#   A           G
# A               I
#   A           G
#     A       E
#       A   C
#         A

for i in range(1,6):
  a=65
  for j in range(i,5):
    print(" ",end=" ")
  for k in range(1,i+1):
    if(k==1):
      print(chr(a),end=" ")
      a+=1
    else:
      print(" ",end=" ")
      a+=1
  for l in range(1,i):
    if(l==i-1):
      print(chr(a),end=" ")
      a+=1
    else:
      print(" ",end=" ")
      a+=1
  print()

for i in range(4,0,-1):
  a=65
  for j in range(5,i,-1):
    print(" ",end=" ")
  for k in range(1,i+1):
    if(k==1):
      print(chr(a),end=" ")
      a+=1
    else:
      print(" ",end=" ")
      a+=1
  for l in range(1,i):
    if(l==i-1):
      print(chr(a),end=" ")
      a+=1
    else:
      print(" ",end=" ")
      a+=1
  print()

        A
      A   C
    A       E
  A           G
A               I
  A           G
    A       E
      A   C
        A

In [164]:
# 24.  1
#     1 1
#    1 2 1
#   1 3 3 1
#  1 4 4 4 1

for i in range(1,6):
  for j in range(i,5):
    print(" ",end="")
  for k in range(1,i+1):
    if(k==1 or k==i):
      print(1,end=" ")
    else:
      print(i-1,end=" ")
  print()

    1
   1 1
  1 2 1
 1 3 3 1
1 4 4 4 1