<a href="https://colab.research.google.com/github/Prakuljn/Python-Assignment/blob/main/function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# function
# require argument
# positional argument
# keyword argument
# default argument => function declaration

In [3]:
def func (name,empid):
  print(name , empid)
func("prakul" ,100)

prakul 100

In [12]:
def func (name,empid):
  print(name , empid)
func(empid=100,name="prakul")

prakul 100

In [14]:
# variable length argument (*var)=the length of argument vary or change according by userr is called variable length argument
# also known as *args
def func (*data):
  print(data)
func(65654,654,6554,645654,64,65,46,46,4,64,654,6,465,5165,132)# store value in tuple

(65654, 654, 6554, 645654, 64, 65, 46, 46, 4, 64, 654, 6, 465, 5165, 132)

In [20]:
# keyword variable length argument (**var)= ## also known as **kwargs main interwies question
def func (**kwargs):
  print(kwargs)
func(eid=[] ,name="prakul",salary=10000)# store value in dictionary

{'eid': [], 'name': 'prakul', 'salary': 10000}

In [22]:
# first class function and high order function
def func (name,empid):
  print(name , empid)
y=func(empid=100,name="prakul")
print(y)

prakul 100
None

In [23]:
# first class function and high order function
def func (name,empid):
  return (name , empid)
y=func(empid=100,name="prakul")
print(y)

('prakul', 100)

In [25]:
# first class function and high order function
def func (name,empid):
  return (name , empid)
print(func(empid=100,name="prakul"))

('prakul', 100)

In [26]:
# first class function
# Assigned to Variables: We can assign functions to variables.
# Passed as Arguments: We can pass functions as arguments to other functions.
# Returned from Functions: Functions can return other functions.
# Stored in Data Structures: Functions can be stored in data structures such as lists, dictionaries, etc.

In [29]:
def func ():
  print("name")
y=func # here we have assign a function to a variable
func()
y()

name
name

In [32]:
def sum(a,b):
  print(a+b)



def print_statement(x,y):
  print(x,y)

sum(4,5)

print_statement(4,sum(2,3))   # here We can pass functions as arguments to other functions.

9
5
4 None

In [36]:
def sum(a,b):
  print(a+b)



def print_statement(x,y):
  print(x,y)
  y(4,5)

sum(4,5)

print_statement(4,sum) # here Functions can return other functions.

9
4 <function sum at 0x7a9c04713c40>
9

In [38]:
# high order function
# Takes another function as an argument.
# Returns another function as its result.
# all high order function are first class order but vice versa is not possible

In [39]:
# leetcode
# threesum
# two sum two
# best to buy and sell stock

In [ ]:
#