In [ ]:
count=0
a=0
odd_num=[]
while (count<=25):
  if(a%2!=0):
    odd_num.append(a)
    count+=1
  a+=1
print(odd_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51]

In [ ]:
string=input("enter character")
lower=[]
for i in string:
  if(ord(i)<=122 and ord(i)>=97):
    lower.append(i)
for i in string:
  if(ord(i)<=96 and ord(i)>=65):
    lower.append(i)
print(lower)

enter characterpRJJKHdsdkjashOJDs
['p', 'd', 's', 'd', 'k', 'j', 'a', 's', 'h', 's', 'R', 'J', 'J', 'K', 'H', 'O', 'J', 'D']

In [ ]:
str1 ="P@#yn26at^&i5ve"
char=[]
inti=[]
spsy=[]
chrcount=0
inticount=0
spsycount=0
for i in str1:
  if(ord(i)<=122 and ord(i)>=65):
    char.append(i)
    chrcount+=1
  elif(ord(i)<=57 and ord(i)>=48 ):
    inti.append(i)
    inticount+=1
  else:
    spsy.append(i)
    spsycount+=1
print(char,"total character are :",chrcount)
print(inti,"total intiger are :",inticount)
print(spsy,"total symbol are :",spsycount)

['P', 'y', 'n', 'a', 't', '^', 'i', 'v', 'e'] total character are : 9
['2', '6', '5'] total intiger are : 3
['@', '#', '&'] total symbol are : 3

In [ ]:
string=input("enter character")
list1=[]
for i in string:
  list1.append(i)
print(list1)
for i in list1:
  if(ord(i)==32):
    list1.remove(i)
print(list1)

enter characterdh hh ioh dodh
['d', 'h', ' ', 'h', 'h', ' ', 'i', 'o', 'h', ' ', 'd', 'o', 'd', 'h']
['d', 'h', 'h', 'h', 'i', 'o', 'h', 'd', 'o', 'd', 'h']

In [ ]:
#string=input("enter character")
list1=[]
for i in string:
  list1.append(i)
for i in string:
  if(ord(i)<=47 and ord(i)>=33 or ord(i)<=64 and ord(i)>=58 or ord(i)<=96 and ord(i)>=91 or ord(i)<=126 and ord(i)>=123):
    list1.remove(i)
print(list1)

['A', 12, '$', '$', '*', '+']

In [ ]:
str1 = 'I am 25 years and 10 months old'
mylist=[]
for i in str1:
  if(ord(i)>=48 and ord(i)<=57):
    print(int(i),end="")
    mylist.append(int(i))
print()
print(mylist)

2510
[2, 5, 1, 0]