<a href="https://colab.research.google.com/github/Prakuljn/Python-Assignment/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
count=0
a=0
odd_num=[]
while (count<=25):
  if(a%2!=0):
    odd_num.append(a)
    count+=1
  a+=1
print(odd_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51]

In [ ]:
string=input("enter character")
lower=[]
for i in string:
  if(ord(i)<=122 and ord(i)>=97):
    lower.append(i)
for i in string:
  if(ord(i)<=96 and ord(i)>=65):
    lower.append(i)
print(lower)

enter characterpRJJKHdsdkjashOJDs
['p', 'd', 's', 'd', 'k', 'j', 'a', 's', 'h', 's', 'R', 'J', 'J', 'K', 'H', 'O', 'J', 'D']

In [ ]:
str1 ="P@#yn26at^&i5ve"
char=[]
inti=[]
spsy=[]
chrcount=0
inticount=0
spsycount=0
for i in str1:
  if(ord(i)<=122 and ord(i)>=65):
    char.append(i)
    chrcount+=1
  elif(ord(i)<=57 and ord(i)>=48 ):
    inti.append(i)
    inticount+=1
  else:
    spsy.append(i)
    spsycount+=1
print(char,"total character are :",chrcount)
print(inti,"total intiger are :",inticount)
print(spsy,"total symbol are :",spsycount)

['P', 'y', 'n', 'a', 't', '^', 'i', 'v', 'e'] total character are : 9
['2', '6', '5'] total intiger are : 3
['@', '#', '&'] total symbol are : 3

In [ ]:
string=input("enter character")
list1=[]
for i in string:
  list1.append(i)
print(list1)
for i in list1:
  if(ord(i)==32):
    list1.remove(i)
print(list1)

enter characterdh hh ioh dodh
['d', 'h', ' ', 'h', 'h', ' ', 'i', 'o', 'h', ' ', 'd', 'o', 'd', 'h']
['d', 'h', 'h', 'h', 'i', 'o', 'h', 'd', 'o', 'd', 'h']

In [ ]:
string=input("enter character")
list1=[]
for i in string:
  list1.append(i)
for i in string:
  if(ord(i)<=47 and ord(i)>=33 or ord(i)<=64 and ord(i)>=58 or ord(i)<=96 and ord(i)>=91 or ord(i)<=126 and ord(i)>=123):
    list1.remove(i)
print(list1)

enter character+-*/+__)lkkjfdalkfjdf;dklajfdkjlhds
['l', 'k', 'k', 'j', 'f', 'd', 'a', 'l', 'k', 'f', 'j', 'd', 'f', 'd', 'k', 'l', 'a', 'j', 'f', 'd', 'k', 'j', 'l', 'h', 'd', 's']

In [ ]:
str1 = 'I am 25 years and 10 months old'
mylist=[]
for i in str1:
  if(ord(i)>=48 and ord(i)<=57):
    print(int(i),end="")
    mylist.append(int(i))
print()
print(mylist)

2510
[2, 5, 1, 0]

In [ ]:
list1=[2,3,4,5,6,7,8,9]
list2=[4,9,16,25,36,49,64,81]
list3=[]
for i in list1:
  list4=[]
  for j in list2:
    if i*i==j:
      list4.extend([i,j])
  list3.append(list4)
print(list3)

[[2, 4], [3, 9], [4, 16], [5, 25], [6, 36], [7, 49], [8, 64], [9, 81]]

In [ ]:
list1=[1,2,3,5,6,7,2,37]
list2=[]
for i in range(len(list1)-1,-1,-1):
  list2.append(list1[i])
print(list1)
print(list2)

[1, 2, 3, 5, 6, 7, 2, 37]
[37, 2, 7, 6, 5, 3, 2, 1]

In [ ]:
list1=[1,2,3,5,6,7,2,37]
list2=[]
for i in list1:
  list2.append(i)
print("original list ", list1)
print("copy list ", list2)

original list  [1, 2, 3, 5, 6, 7, 2, 37]
copy list  [1, 2, 3, 5, 6, 7, 2, 37]

In [ ]:
mylist=[1,2,2,3,3,5,4,4]
mylist1=[]
for i in mylist:
  if i not in mylist1:
    mylist1.append(i)
print(mylist1)
print(len(mylist1))

[1, 2, 3, 5, 4]
5

In [ ]:
mylist=[2,4,5,4,4,1,3,5,9,7,8,5,2,1,5,6,8,7]
even=0
odd=0
for i in mylist:
  if i %2==0:
    even+=1
  else:
    odd+=1
print("total even number are :",even)
print("total odd number are :",odd)

total even number are : 8
total odd number are : 10

In [ ]:
list1=[4,9,16,25,36,49,64,81]
a=list1[0]

for i in range(1,len(list1)):
  if list1[i]<a:
    a=list1[i]
print("smallest number is ",a)

smallest number is  4

In [ ]:
list1=[4,9,16,25,36,49,64,81]
sum=0
for i in list1:
  sum+=i
print("sum of all number is ",sum)

sum of all number is  284

In [ ]:
emaillist=["KSR@datavizion.com","mymail@yahoo.com","milindmali@google.com","snehal@health.com"]
list1=[]
for i in emaillist:

  for j in i:
    list1.append(j)

['K', 'S', 'R', '@', 'd', 'a', 't', 'a', 'v', 'i', 'z', 'i', 'o', 'n', '.', 'c', 'o', 'm', 'm', 'y', 'm', 'a', 'i', 'l', '@', 'y', 'a', 'h', 'o', 'o', '.', 'c', 'o', 'm', 'm', 'i', 'l', 'i', 'n', 'd', 'm', 'a', 'l', 'i', '@', 'g', 'o', 'o', 'g', 'l', 'e', '.', 'c', 'o', 'm', 's', 'n', 'e', 'h', 'a', 'l', '@', 'h', 'e', 'a', 'l', 't', 'h', '.', 'c', 'o', 'm']