<a href="https://colab.research.google.com/github/Prakuljn/Python/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# pandas --> it is an open source library that is used for handle data manipulation
# for installing pandas we use !pip install pandas

In [ ]:
# data structure of pandas:
# 1. Series ----> it is one dimensional array and its shows only values not column name
# 2. DataFrame ----> it is multi-dimensional array and its shows values with column name

In [3]:
import pandas as pd

In [ ]:
# 1. Series
a=pd.Series([1,23,45,32])
a

0     1
1    23
2    45
3    32
dtype: int64

In [ ]:
type(a)

pandas.core.series.Series

In [ ]:
# 2. DataFrame
# Q1. we have to create employee data using dictionary ?
a = {
    "emp_id" : [1,2,3,4,5,6,7,8],
    "emp_name":["sam","raj","mohit","anmol","vinnet","anshul","gursevak","prakul"],
    "department":["IT","Sales","IT","Operators","Pattern developer","HR","IT","IT"],
    "Working_hours":[8,7,8,7,8,7,8,7],
    "salary":[23000,52000,45000,12000,41000,47000,32000,25000]
}
type(a)

dict

In [ ]:
df =pd.DataFrame(a)
df

   emp_id  emp_name         department  Working_hours  salary
0       1       sam                 IT              8   23000
1       2       raj              Sales              7   52000
2       3     mohit                 IT              8   45000
3       4     anmol          Operators              7   12000
4       5    vinnet  Pattern developer              8   41000
5       6    anshul                 HR              7   47000
6       7  gursevak                 IT              8   32000
7       8    prakul                 IT              7   25000

In [ ]:
# For jupyter notebook

# How to you export your dataframe into csv file ?


# 1. go to the folder copy path
# then df.to_csv("folder path with double salsh every where then file name"),index = True or Flase

In [ ]:
# How do you import your data frame into your jupyter notebook ?

# method 1

# 1. vairable name=pd.read_csv("folder path with double salsh every where then file name")

# method 2
# 1. go to homepage of jupyter notebook
# 2. upload the file on it
# 3. df=pd.read_csv(file name "no path needed")

In [ ]:
# for colab

# go to files on left side on screen
# df = pd.read_csv("path")

In [ ]:
df.to_csv("/content/prakul.csv")

In [1]:
student_data = {
    "ID": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    "Name": ["Aman", "Priya", "Raj", "Simran", "Vikram", "Neha", "Rohit", "Ananya", "Kunal", "Isha"],
    "Roll No": [2101, 2102, 2103, 2104, 2105, 2106, 2107, 2108, 2109, 2110],
    "Stream": ["Science", "Commerce", "Arts", "Science", "Commerce", "Arts", "Science", "Commerce", "Arts", "Science"],
    "Semester": [2, 4, 6, 3, 5, 1, 4, 2, 6, 3]
}

In [4]:
b=pd.DataFrame(student_data)
b

    ID    Name  Roll No    Stream  Semester
0  101    Aman     2101   Science         2
1  102   Priya     2102  Commerce         4
2  103     Raj     2103      Arts         6
3  104  Simran     2104   Science         3
4  105  Vikram     2105  Commerce         5
5  106    Neha     2106      Arts         1
6  107   Rohit     2107   Science         4
7  108  Ananya     2108  Commerce         2
8  109   Kunal     2109      Arts         6
9  110    Isha     2110   Science         3

In [5]:
b.to_csv("/content/prakul1.csv")