<a href="https://colab.research.google.com/github/Prakuljn/Python/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# pandas --> it is an open source library that is used for handle data manipulation
# for installing pandas we use !pip install pandas

In [4]:
# data structure of pandas:
# 1. Series ----> it is one dimensional array and its shows only values not column name
# 2. DataFrame ----> it is multi-dimensional array and its shows values with column name

In [14]:
import pandas as pd

In [15]:
# 1. Series
a=pd.Series([1,23,45,32])
a

0     1
1    23
2    45
3    32
dtype: int64

In [16]:
type(a)

pandas.core.series.Series

In [17]:
# 2. DataFrame
# Q1. we have to create employee data using dictionary ?
a = {
    "emp_id" : [1,2,3,4,5,6,7,8],
    "emp_name":["sam","raj","mohit","anmol","vinnet","anshul","gursevak","prakul"],
    "department":["IT","Sales","IT","Operators","Pattern developer","HR","IT","IT"],
    "Working_hours":[8,7,8,7,8,7,8,7],
    "salary":[23000,52000,45000,12000,41000,47000,32000,25000]
}
type(a)

dict

In [18]:
df =pd.DataFrame(a)
df

   emp_id  emp_name         department  Working_hours  salary
0       1       sam                 IT              8   23000
1       2       raj              Sales              7   52000
2       3     mohit                 IT              8   45000
3       4     anmol          Operators              7   12000
4       5    vinnet  Pattern developer              8   41000
5       6    anshul                 HR              7   47000
6       7  gursevak                 IT              8   32000
7       8    prakul                 IT              7   25000

In [19]:
# For jupyter notebook

# How to you export your dataframe into csv file ?


# 1. go to the folder copy path
# then df.to_csv("folder path with double salsh every where then file name"),index = True or Flase

In [20]:
# How do you import your data frame into your jupyter notebook ?

# method 1

# 1. vairable name=pd.read_csv("folder path with double salsh every where then file name")

# method 2
# 1. go to homepage of jupyter notebook
# 2. upload the file on it
# 3. df=pd.read_csv(file name "no path needed")

In [21]:
# for colab

# go to files on left side on screen
# df = pd.read_csv("path")

In [29]:
df.to_csv("/content/prakul.csv")