<a href="https://colab.research.google.com/github/Prakuljn/Python-Assignment/blob/main/pratice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#python -> python is a general purposee , interpreted programminng language which was invented in 1991 by gudio van rossoum
#for check version
#python --version

In [ ]:
#fundamental of python
# 1. variable
# 2. data type
# 3. input(), print()

In [ ]:
# variable--> this is a container in which we will store values or assin the vallues

In [ ]:
a=56
b=56.3
c="prakul"
# here a,b,c are the variables

In [ ]:
# a. global variable ---->entirely modify
# b. local variable ----->specific block of code modify

In [ ]:
# data types->
# a. integer --> all positive and negetive values
# b0. float --> all decimal values
# c.  string --> all statement in quotes
# d. boolean ---> true false

In [ ]:
#type() function is used to check the data type of any variable

In [ ]:
# type casting --> using type csting we can convert or change values from one type to another data type
a=12
b=12.3
c='prakul'
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
#print() function is used to print the statement and query
#input () function is used to input the values or string from user
#it will take query and send it to function and by default it output will be string

In [ ]:
a= input("wnter a number")
b= input("wnter a number")
print(a+b)

wnter a numbera
wnter a numberf
af

In [ ]:
a= int(input("wnter a number"))
b= int(input("wnter a number"))
print(a+b)
##here we use type casting

In [ ]:
# commanly used operator in python

In [ ]:
#add(+)
#subtract(-)
#multiply(*)
#dividion(/) gives float value
#floar division(//) gives round off of division
#modular(%) gives reminder
# equal to(=) used for assign the values to variable
#double equal to (==) used to compare the values
# not equal to (!=)
#greator than (>)
#greator than or equal to (>=)
#less than (<)
#less than equal to(<=)

In [ ]:
#CONDITIONAL STATEMENT IN PYTHON
# if
# elif
# else

In [ ]:
#ex 1
print ("we provide tthese items : pizza burgur ice cream sandwich ")
print ("pizza=100, burgur =50, ice cream=50 , sandwich=100")

a = input ("enter your item ")
if (a== "pizza" ):
     print("pizza is available ")
     b= int (input ("enter the quantity"))
     c=b*100
     if (c>=2000):
        print("actual price is :", c)
        print ("your discounted price is ",c-(c*0.2))
     elif (1000<c<2000):
        print("actual price is :", c)
        print ("your discounted price is ",c-(c*0.1))

we provide tthese items : pizza burgur ice cream sandwich
pizza=100, burgur =50, ice cream=50 , sandwich=100

KeyboardInterrupt: Interrupted by user

In [ ]:
# loops in python
# 1. for loop
# 2. while loop

# (1). for loop
# index = 0 , length = 1
# starting_values will include and last_values will exclude
# by default it start with zero and have a default gap of one
# for example

In [ ]:
for i in range(3):
     for j in range(2):
        print(f"i={i} j={j}")

i=0 j=0
i=0 j=1
i=1 j=0
i=1 j=1
i=2 j=0
i=2 j=1

In [ ]:
for i in range (0,6):
  print(i* "*")

*
**
***
****
*****

In [ ]:
for i in range(1,6):
    if i==1 or i==5:
        print("* "*i)
    else:
        print("* "+"  "*(i-2)+"*")

*
* *
*   *
*     *
* * * * *

In [ ]:
n=int(input( "enter the number " ))
for i in range(1,n):
  print("  "*(n-i)+" *"*(2*i-1))

enter the number 6
           *
         * * *
       * * * * *
     * * * * * * *
   * * * * * * * * *

In [ ]:
#while loop

#(a). Initilazation
#(b). Condition
#(c). Incriment and Decrement

In [ ]:
# print 1 to 4 number using while loop
i=1
while i<=4:
    print(i)
    i=i+1

step 1 --->(i=1 ,i<=4) while true
it print the value
same as when i =2,3,4
it print the values
when i = 5 condition false
it exit the loop and give the output

In [ ]:
i = int (input("enter first number "))
n = int (input("enter last number "))
p = int (input("enter gap between number "))
while i<=n:
    print(i)
    i=i+p

In [ ]:
while (5>=1):
  print(i)
  i=i-1

In [ ]:
# write a program in pythonn to get the sum of the number
i=1
n=2
sum =0
while(i<=n):
  sum= sum +i
  i=i+1
print(sum)

In [ ]:
a= int (input("Enter first value for commpare:"))
b= int (input("Enter second value for commpare:"))
c= int (input("Enter third value for commpare:"))
if(a<b and b<c):
  print("a contain the minimum value", a)
elif(b<a and a<c):
  print("b contain the minimum value", b)
else:
  print("c contain the minimum value:", c)

Enter first value for commpare:12
Enter second value for commpare:32
Enter third value for commpare:11
c contain the minimum value

In [ ]:
a = int(input("enter value"))
if(a%2==0):
  print("hii")
elif(a%5==0):
  print("hello")
else:
  print("bye")

KeyboardInterrupt: Interrupted by user

In [ ]:
age=int(input("enter your age: "))
if(age<10):
  print("baby")
elif(age>=10 and age<18):
  print("child")
elif(age>=18 and age<30):
  print("adult")
elif(age>=30 and age<60):
  print("mature")
elif(age>=60):
  print("old cititen")
else:
  print("infand")

KeyboardInterrupt: Interrupted by user

In [ ]:
age = int(input("enter your age: "))
if (age >5):
  print("aadhar card created")
  if (age >18):
    print ("aadhar and pan card is linked")
  else:
    print("pan card is not created")
else:
  print("age is small")

In [ ]:
a = int(input("enter number: "))
if (a%2==0):
  if(a%3==0):
    print("number is divisible by 6")
  else:
    print("number is divisible by 2")
else:
  print("number is not divisable")

enter number: 12
number is divisible by 6

slicing in python is defined as to sice the string as wee want the range
index is the position of every character in the given string such as in

In [ ]:
city="Rajasthan"
print(city[0:5])
print(city[5:11])
print(city[2:7:-1])

Rajas
than

In [ ]:
11//2+5-1

9

BITWISE OPERATOR

                  8  4  2  1
11                1  0  1  1
14                1  1  1  0
______________________________________
bitwise and                   1     1
11 & 14
OUTPUT IS 10

In [ ]:
11 & 14

10

In [ ]:
13 & 7

5

there are seven operator in python
arithmatic(+, - ,* / ,// )
bitwise( & ,| , << , >>)
logicial( and or not)
assignment( equal to(=))
comparison ( < ,> ,<=,>= ,== ,!=)
identity (

In [ ]:
 for i in range (50,9,-1):
  print(i)

50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10

In [ ]:
a = 0
for i in range (1,11):
  a=a+i
print(a)

55

In [ ]:
count=0
for i in range(69,3,-1):
   count=count+1
print(count)

66

In [ ]:
for i in range (1,14):
  if(i%3==0):
    print(i)

3
6
9
12

In [ ]:
even_sum=0
odd_sum=0
for i in range (55,22,-1):
  if(i%2==0):
    even_sum=even_sum+i
  else:
    odd_sum=odd_sum+i
print("even sum ",even_sum)
print("odd sum ",odd_sum)

even sum  624
odd sum  663

In [ ]:
str1 = "hello hey computer science new"
str2=" "
k=4
count=0
for i in range(0,len(str1)):
  if(str1[i]==" "):
    if count>k:
      print(str2,end="")
      str2=" "
      count=0
    else:
      str2=" "
      count=0
  else:
    str2=str2+str1[i]
    count+=1

 hello computer science

In [ ]:
l1=[1,2,3]
l2=[2,3,4]
list1(set(list1) and set(list2))

NameError: name 'list1' is not defined

In [ ]:

my_dict = {'apple': 3, 'banana': 2, 'cherry': 5}
sorted_dict = sorted(my_dict)
print(sorted_dict)

['apple', 'banana', 'cherry']

In [ ]:
d1 = {'x': 1, 'y': 2}
d2 = {'y': 3, 'z': 4}
d1.update(d2)
print(d1)

{'x': 1, 'y': 3, 'z': 4}

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
result = set1 & set2
print(result)

{3, 4}

In [ ]:
d = {1: 'a', 2: 'b', 3: 'c'}
for key in list(d.keys()):
    del d[key]
print(d)

{}

In [ ]:
len(set(range(5)))

5

In [ ]:

 numbers = [1, 2, 3, 4]

squares = [n ** 2 for n in numbers if n % 2 == 0]

print(squares)

[4, 16]

In [ ]:
ord('a')ord('A')

SyntaxError: invalid character '–' (U+2013) (<ipython-input-12-b5630d9899bd>, line 1)

In [ ]:
my_dict = {'a': 1, 'b': 2}
new_dict = my_dict.copy()
new_dict['a'] = 3
print(my_dict['a'])

1

In [ ]:
text = "Python is a scripting language."
text.find("scripting")

12

In [ ]:
text = "Python is a widely-used language."

text.startswith("Java")


text

'Python is a widely-used language.'

In [ ]:
my_list = [1, 2, 3, 4, 5]
new_list = [x * 2 for x in my_list]
print(new_list)

[2, 4, 6, 8, 10]

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
result = set1.symmetric_difference(set2)
print(result)

{1, 2, 4, 5}

In [ ]:
i = 0
while i < 5:
    if i == 3:
        break
    print(i, end=" ")
    i += 1
else:
    print("Loop End")

0 1 2

In [ ]:
num = 7 result = "Even" if num % 2 == 0 else "Odd"

SyntaxError: invalid syntax (<ipython-input-25-6d3d3b91df12>, line 1)

In [ ]:
for i in range(4):
    for j in range(4):
        if i == 2:
            continue
        if j == 3:
            break
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
3 0
3 1
3 2

In [ ]:
l1=[]
len(l1)

0

In [ ]:
abs(-5)

5

In [ ]:
3**3

27

In [ ]:
word = "racecar"

word == word[::-1]

True

In [ ]:
my_dict = {'a': 1, 'b': 2}
my_dict.update({'b': 3, 'c': 4})
print(my_dict['b'])

3

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
result = set1.difference_update(set2)
print(result)

None

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple[0] = 10
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
d = {'a': 1, 'b': 2}
d[None] = d['b']
del d['b']
print(d)

{'a': 1, None: 2}

In [ ]:

d = {'a': 1, 'b': 2}
d['c'] = d.get('c', 0) + 1
print(d)

{'a': 1, 'b': 2, 'c': 1}

In [ ]:
lst = [1, 2, 3, 4]
lst.extend([5, 6])
lst.append([7, 8])
print(lst)

[1, 2, 3, 4, 5, 6, [7, 8]]

In [ ]:
list1 = [1, 2, 3]
list2 = [2, 3, 4]
list(set(list1) & set(list2))

[2, 3]