<a href="https://colab.research.google.com/github/Prakuljn/Python-Assignment/blob/main/pratice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
arr=[57,57,-57,57]
highest=-100
second_highest=0
for i in arr:
    if i>highest:
        second_highest=highest
        highest=i
    elif i>second_highest and i!=highest:
        second_highest=i
print(second_highest)

-57

In [33]:
students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]
dict1={}
lowest=100
second_lowest=0
for i in students:
  dict1[i[0]]=i[1]
for j in dict1.values():
  if j<lowest:
    second_lowest=lowest
    lowest=j
  elif j<second_lowest and j!=lowest:
    second_lowest=j
for k in dict1.keys():
  if dict1[k]==second_lowest:
    print(k)

Harry
Berry

In [1]:
dict1={}
list1=[]
lowest=100
second_lowest=0
for _ in range(int(input())):
    name = input()
    score = float(input())
    dict1[name]=score
for j in dict1.values():
    if j<lowest:
        second_lowest=lowest
        lowest=j
    elif j<second_lowest and j!=lowest:
        second_lowest=j
for k in dict1.keys():
    if dict1[k]==second_lowest:
        print(k)

5
prakul
44
naman
11
jain
14
ajklj;fdsa45
66
ved
88
jain