<a href="https://colab.research.google.com/github/Prakuljn/Python-Assignment/blob/main/stes%20and%20function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# sets it is a data types and contain unique elements and unordered means contain no index value
myset=({}) #empty set

In [3]:
myset={1,2,3,4,5,6,7,8,9}
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [5]:
myset.add(800)
print(myset)

{800, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [9]:
myset={1,2,3,4,5,6,7,8,9}
myset.remove(4)
myset.discard(33)
print(myset)

{1, 2, 3, 5, 6, 7, 8, 9}

In [10]:
myset.update([1,2,3,4,5,6,7,85,45,74,63,25,41])
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 74, 41, 45, 85, 25, 63}

In [11]:
myset.update([1,2,3,4,5,6,7,85,45,74,63,25,41])
myset.pop()

1

In [33]:
myset1={1,2,3,4,5}
myset2={4,5,6}
myset=myset1.difference(myset2)
print(myset)

{1, 2, 3}

In [20]:
myset1={1,2,3,4,5}
myset2={4,5,6}
myset1.difference_update(myset2)
myset1

{1, 2, 3}

In [32]:
myset1={1,2,3,4,5}
myset2={4,5,6}
myset=myset1.intersection(myset2)
print(myset)

{4, 5}

In [24]:
myset1={1,2,3,4,5}
myset2={4,5,6}
myset=myset1.difference(myset2)
print(myset)

{1, 2, 3, 4, 5}

In [31]:
myset1={1,2,3,4,5}
myset2={4,5,6}
myset=myset1.symmetric_difference(myset2)
print(myset)

{1, 2, 3, 6}

In [35]:
myset1={1,2,3,4,5,6}
myset2={4,5,6}
myset=myset2.issubset(myset1)
print(myset)

True

In [40]:
myset1={1,2,3,4,5,6}
myset2={4,5,6}
myset=myset1.isdisjoint(myset2)
print(myset)

False

In [42]:
myset1={1,2,3,4,5,6}
myset2={4,5,6}
myset=myset1.issuperset(myset2)
print(myset)

True

In [44]:
# function in python
# it is a block of codes or divide our code into smaller parts
# we can reuse the function several time in one go
# debugging
# define of function
# we use def keyword to define function
def hello(): # function define
    print("hello world")  # block of code
hello() # function call

hello world

In [45]:
def hello():
  print("python")
for i in range(10):
  hello()

python
python
python
python
python
python
python
python
python
python

In [47]:
def hello(a):
  print(a)
for i in range(10):
  hello("prakul jain",)

prakul jain
prakul jain
prakul jain
prakul jain
prakul jain
prakul jain
prakul jain
prakul jain
prakul jain
prakul jain

In [52]:
def add(a,b):
    c=a+b
    print(c)
def sub(a,b):
    c=a-b
    print(c)
def mul(a,b):
    c=a*b
    print(c)
def div(a,b):
    c=a/b
    print(c)
a=int(input("Enter a value:")) # user input global variable
b=int(input("Enter b value:"))
c=input("Enter operator:")
if c=='+':
    add(a,b)
elif c=='-':
    sub(a,b)
elif c=='*':
    mul(a,b)
elif c=='/':
    div(a,b)
else:
    print("Invalid operator")

Enter a value:45
Enter b value:32
Enter operator:+
77

In [51]:
x=10
def hello():
    x="qwe"
    print(x)
hello()
print(x)

qwe
10

In [55]:
x=10  # global variable
print(x)
def hello():
    global x
    x="qwe" # local variable change to global
    print(x)
hello()
print(x)

10
qwe
qwe

In [56]:
x=10
def func(x):
  print("hey",x)
func(500)

hey 500

In [57]:
# revise valid paranthes with dictionary
# number to roman using dictionary
# list comprehension
# dictionary comprehension