<a href="https://colab.research.google.com/github/Prakuljn/Python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#python -> python is a general purposee , interpreted programminng language which was invented in 1991 by gudio van rossoum
#for check version
#python --version

In [ ]:
#fundamental of python
# 1. variable
# 2. data type
# 3. input(), print()

In [ ]:
# variable--> this is a container in which we will store values or assin the vallues

In [ ]:
a=56
b=56.3
c="prakul"
# here a,b,c are the variables

In [ ]:
# a. global variable ---->entirely modify
# b. local variable ----->specific block of code modify

In [ ]:
# data types->
# a. integer --> all positive and negetive values
# b0. float --> all decimal values
# c.  string --> all statement in quotes
# d. boolean ---> true false

In [ ]:
#type() function is used to check the data type of any variable

In [ ]:
# type casting --> using type csting we can convert or change values from one type to another data type
a=12
b=12.3
c='prakul'
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
#print() function is used to print the statement and query
#input () function is used to input the values or string from user
#it will take query and send it to function and by default it output will be string

In [ ]:
a= input("wnter a number")
b= input("wnter a number")
print(a+b)

wnter a number
wnter a number

In [ ]:
a= int(input("wnter a number"))
b= int(input("wnter a number"))
print(a+b)
##here we use type casting

wnter a number

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# commanly used operator in python

In [ ]:
#add(+)
#subtract(-)
#multiply(*)
#dividion(/) gives float value
#floar division(//) gives round off of division
#modular(%) gives reminder
# equal to(=) used for assign the values to variable
#double equal to (==) used to compare the values
# not equal to (!=)
#greator than (>)
#greator than or equal to (>=)
#less than (<)
#less than equal to(<=)

In [ ]:
#CONDITIONAL STATEMENT IN PYTHON
# if
# elif
# else

In [ ]:
#ex 1
print ("we provide tthese items : pizza burgur ice cream sandwich ")
print ("pizza=100, burgur =50, ice cream=50 , sandwich=100")

a = input ("enter your item ")
if (a== "pizza" ):
     print("pizza is available ")
     b= int (input ("enter the quantity"))
     c=b*100
     if (c>=2000):
        print("actual price is :", c)
        print ("your discounted price is ",c-(c*0.2))
     elif (1000<c<2000):
        print("actual price is :", c)
        print ("your discounted price is ",c-(c*0.1))

In [ ]:
# loops in python
# 1. for loop
# 2. while loop

# (1). for loop
# index = 0 , length = 1
# starting_values will include and last_values will exclude
# by default it start with zero and have a default gap of one
# for example

In [ ]:
for i in range(3):
     for j in range(2):
        print(f"i={i} j={j}")

In [ ]:
for i in range (0,6):
  print(i* "*")

In [ ]:
for i in range(1,6):
    if i==1 or i==5:
        print("* "*i)
    else:
        print("* "+"  "*(i-2)+"*")

In [ ]:
n=int(input( "enter the number " ))
for i in range(1,n):
  print("  "*(n-i)+" *"*(2*i-1))

In [ ]:
#while loop

#(a). Initilazation
#(b). Condition
#(c). Incriment and Decrement

In [ ]:
# print 1 to 4 number using while loop
i=1
while i<=4:
    print(i)
    i=i+1

step 1 --->(i=1 ,i<=4) while true
it print the value
same as when i =2,3,4
it print the values
when i = 5 condition false
it exit the loop and give the output

In [ ]:
i = int (input("enter first number "))
n = int (input("enter last number "))
p = int (input("enter gap between number "))
while i<=n:
    print(i)
    i=i+p

In [ ]:
while (5>=1):
  print(i)
  i=i-1

In [ ]:
# write a program in pythonn to get the sum of the number
i=1
n=2
sum =0
while(i<=n):
  sum= sum +i
  i=i+1
print(sum)

3

In [ ]:
a= int (input("Enter first value for commpare:"))
b= int (input("Enter second value for commpare:"))
c= int (input("Enter third value for commpare:"))
if(a<b and b<c):
  print("a contain the minimum value", a)
elif(b<a and a<c):
  print("b contain the minimum value", b)
else:
  print("c contain the minimum value:", c)

Enter first value for commpare:

ValueError: invalid literal for int() with base 10: ''

In [ ]:
a = int(input("enter value"))
if(a%2==0):
  print("hii")
elif(a%5==0):
  print("hello")
else:
  print("bye")

In [ ]:
age=int(input("enter your age: "))
if(age<10):
  print("baby")
elif(age>=10 and age<18):
  print("child")
elif(age>=18 and age<30):
  print("adult")
elif(age>=30 and age<60):
  print("mature")
elif(age>=60):
  print("old cititen")
else:
  print("infand")

enter your age:

ValueError: invalid literal for int() with base 10: ''

In [ ]:
age = int(input("enter your age: "))
if (age >5):
  print("aadhar card created")
  if (age >18):
    print ("aadhar and pan card is linked")
  else:
    print("pan card is not created")
else:
  print("age is small")

In [ ]:
a = int(input("enter number: "))
if (a%2==0):
  if(a%3==0):
    print("number is divisible by 6")
  else:
    print("number is divisible by 2")
else:
  print("number is not divisable")

slicing in python is defined as to sice the string as wee want the range
index is the position of every character in the given string such as in

In [ ]:
city="Rajasthan"
print(city[0:5])
print(city[5:11])
print(city[2:7:-1])

Rajas
than

In [ ]:
11//2+5-1

9

BITWISE OPERATOR

                  8  4  2  1
11                1  0  1  1
14                1  1  1  0
______________________________________
bitwise and                   1     1
11 & 14
OUTPUT IS 10

In [ ]:
11 & 14

10

In [ ]:
13 & 7

5

there are seven operator in python
arithmatic(+, - ,* / ,// )
bitwise( & ,| , << , >>)
logicial( and or not)
assignment( equal to(=))
comparison ( < ,> ,<=,>= ,== ,!=)
identity (

In [ ]:
 for i in range (50,9,-1):
  print(i)

50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10

In [ ]:
a = 0
for i in range (1,11):
  a=a+i
print(a)

55

In [ ]:
count=0
for i in range(69,3,-1):
   count=count+1
print(count)

66

In [ ]:
for i in range (1,14):
  if(i%3==0):
    print(i)

3
6
9
12

In [ ]:
even_sum=0
odd_sum=0
for i in range (55,22,-1):
  if(i%2==0):
    even_sum=even_sum+i
  else:
    odd_sum=odd_sum+i
print("even sum ",even_sum)
print("odd sum ",odd_sum)

even sum  624
odd sum  663

In [ ]:
str1 = "hello hey computer science new"
str2=" "
k=4
count=0
for i in range(0,len(str1)):
  if(str1[i]==" "):
    if count>k:
      print(str2,end="")
      str2=" "
      count=0
    else:
      str2=" "
      count=0
  else:
    str2=str2+str1[i]
    count+=1

 hello computer science

In [ ]:
l1=[1,2,3]
l2=[2,3,4]
list1(set(list1) and set(list2))

NameError: name 'list1' is not defined

In [ ]:

my_dict = {'apple': 3, 'banana': 2, 'cherry': 5}
sorted_dict = sorted(my_dict)
print(sorted_dict)

['apple', 'banana', 'cherry']

In [ ]:
d1 = {'x': 1, 'y': 2}
d2 = {'y': 3, 'z': 4}
d1.update(d2)
print(d1)

{'x': 1, 'y': 3, 'z': 4}

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
result = set1 & set2
print(result)

{3, 4}

In [ ]:
d = {1: 'a', 2: 'b', 3: 'c'}
for key in list(d.keys()):
    del d[key]
print(d)

{}

In [ ]:
len(set(range(5)))

5

In [ ]:

 numbers = [1, 2, 3, 4]

squares = [n ** 2 for n in numbers if n % 2 == 0]

print(squares)

[4, 16]

In [ ]:
ord('a')ord('A')

SyntaxError: invalid syntax (<ipython-input-32-e56c4e657b07>, line 1)

In [ ]:
my_dict = {'a': 1, 'b': 2}
new_dict = my_dict.copy()
new_dict['a'] = 3
print(my_dict['a'])

1

In [ ]:
text = "Python is a scripting language."
text.find("scripting")

12

In [ ]:
text = "Python is a widely-used language."

text.startswith("Java")


text

'Python is a widely-used language.'

In [ ]:
my_list = [1, 2, 3, 4, 5]
new_list = [x * 2 for x in my_list]
print(new_list)

[2, 4, 6, 8, 10]

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
result = set1.symmetric_difference(set2)
print(result)

{1, 2, 4, 5}

In [ ]:
i = 0
while i < 5:
    if i == 3:
        break
    print(i, end=" ")
    i += 1
else:
    print("Loop End")

0 1 2

In [ ]:
num = 7 result = "Even" if num % 2 == 0 else "Odd"

SyntaxError: invalid syntax (<ipython-input-39-6d3d3b91df12>, line 1)

In [ ]:
for i in range(4):
    for j in range(4):
        if i == 2:
            continue
        if j == 3:
            break
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
3 0
3 1
3 2

In [ ]:
l1=[]
len(l1)

0

In [ ]:
abs(-5)

5

In [ ]:
3**3

27

In [ ]:
word = "racecar"

word == word[::-1]

True

In [ ]:
my_dict = {'a': 1, 'b': 2}
my_dict.update({'b': 3, 'c': 4})
print(my_dict['b'])

3

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
result = set1.difference_update(set2)
print(result)

None

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple[0] = 10
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
d = {'a': 1, 'b': 2}
d[None] = d['b']
del d['b']
print(d)

{'a': 1, None: 2}

In [ ]:

d = {'a': 1, 'b': 2}
d['c'] = d.get('c', 0) + 1
print(d)

{'a': 1, 'b': 2, 'c': 1}

In [ ]:
lst = [1, 2, 3, 4]
lst.extend([5, 6])
lst.append([7, 8])
print(lst)

[1, 2, 3, 4, 5, 6, [7, 8]]

In [ ]:
list1 = [1, 2, 3]
list2 = [2, 3, 4]
list(set(list1) & set(list2))

[2, 3]

In [ ]:
prices=[2,4,1]
a=min(prices)
x=prices.index(a)
max_val=0
for i in range(x+1,len(prices)):
    if prices[i]>max_val:
        max_val=prices[i]
if max_val>a:
    print(max_val-a)
x

2

In [ ]:
list1=[1,2,3,4,5]
for i in range(len(prices)):
  local_max = prices[i]
  for j in range(i + 1, len(prices)):
      local_max = max(local_max, prices[j])
  global_max = max(global_max, local_max - prices[i])
return global_max

NameError: name 'global_max' is not defined

In [ ]:
        list1 = []
        nums.sort()
        for i in range(len(nums)):
            if i > 0 and nums[i] == nums[i - 1]:
                continue
            left, right = i + 1, len(nums) - 1
            while left < right:
                total = nums[i] + nums[left] + nums[right]
                if total == 0:
                    list1.append([nums[i], nums[left], nums[right]])
                    while left < right and nums[left] == nums[left + 1]:
                        left += 1
                    while left < right and nums[right] == nums[right - 1]:
                        right -= 1
                    left += 1
                    right -= 1
                    elif total < 0:
                    left += 1
                else:
                    right -= 1
        return list1

SyntaxError: invalid syntax (<ipython-input-54-67bb5f04a55b>, line 17)

In [ ]:
# isomorfic string
# three sum closer
# three sum smaller

In [ ]:
s="add"
t="egg"
dict1={}
if len(s)==len(t):
  for i in range(0,len(s)):
    if s[i] not in dict1:
      dict1[s[i]]=t[i]
    elif dict1[s[i]]!=t[i]:
      return False
  return True
else:
  return False

SyntaxError: 'return' outside function (<ipython-input-56-adee8c78ebb8>, line 9)

In [ ]:
nums = []
target=2
nums.sort()
ans, n = 0, len(nums)
for i in range(n):
    start, end = i + 1, n - 1
    while start < end:
        s = nums[i] + nums[start] + nums[end]
        if s <= target:
            ans +=1
            start += 1
        else:
            end -= 1
print(ans)

0

In [ ]:
str1="hey hello regex software"
list1=str1.split()
a=list1.pop(0)
b=list1.pop()
str2=" ".join(list1)
print(b,str2,a)

software hello regex hey

In [ ]:
n = int(input("enter first number"))
p = int(input("enter second number"))
if n>p:
  num=p
else:
  num=n
while (num>0):
  if n%num==0 and p%num==0:
    print(num)
    break
  num=num-1

In [ ]:
class Employee:
    def __init_(self,name,emp_ID,salary):
        self.name=name
        self.emp_ID=emp_ID
        self.salary=salary
    def annual_salary(self):
        return self.salary*12
    def employee_details(self):
        print(f"Employee Name is : {self.name}")
        print(f"Employee ID is : {self.emp_ID}")
        print(f"Monthly Salary is : {self.salary}")
        print(f"Total Annual Salary is : {self.annual_salary()}")
name=input("Enter the name of the Employee :")
emp_ID=int(input("Enter the ID of the Employee :"))
salary=int(input("Enter the Monthly Salary of the employee :"))
Emp1= Employee(name,emp_ID,salary)
Emp1.employee_details()

In [ ]:
a=9
set1 ={1,2,3,4,5,6,7,8,9}
c=10

for i in range(c):
    list1=list(input().split())
    if list1[0]=="remove":
        if int(list1[1]) not in set1:
            continue
        else:
            set1.remove(int(list1[1]))
    elif list1[0]=="discard":
        set1.discard(int(list1[1]))
    else:
        set1.pop()
print(sum(set1))

In [ ]:
a=[5,3]
list1=[89,90,78,93,80]
list2=[90,91,85,88,86]
list3=[91,92,83,89,90.5]
z=[list1]+[list2]+[list3]
q=list(zip(*z))

q

In [ ]:
q=(89, 90, 91)
a=0
for i in q:
  a+=i
print(a/3)
w=sum(q)
w

In [ ]:
str1="babad"
list1=[]
for i in range(len(s1)+1):
  for j in range(i+1,len(s1)):
    if s[i:j+1] == s[i:j+1][::-1]:
      list1.append(s[i:j+1])
list1

In [ ]:
s="babad"
i=0
j=len(s)-1
a=''
list1=[]
while i<j:
        if s[i:j+1] == s[i:j+1][::-1]:
            if len(s[i:j+1])>len(a):
                a=s[i:j+1]
            i+=1
            j-=1
        elif(i<j):
          j-=1
        else:
          i+=1
a

In [ ]:
# Python program showing a use
# of get() and set() method in
# normal function

class Geek:
	def __init__(self, age = 0):
		self._age = age

	# getter method
	def age(self):
		return self._age

	# setter method
	def set_age(self, x):
		self._age = x

raj = Geek()

# setting the age using setter
raj.set_age(21)

# retrieving age using getter
print(raj.get_age())

print(raj._age)

In [ ]:
class Vehicle:
    def move(self):
        print("Vehicle is moving!")

class Car(Vehicle):
    def move(self):
        print("Car is moving on four wheels!")
        super().move()
class Bike(Car,Vehicle):
    def move(self):
        print("Bike is moving on two wheels!")
        super().move()

# Instances
vehicle=Vehicle()
car=Car()
bike=Bike()

# vehicle.move()
# car.move()
bike.move()

In [ ]:
list1=[
    1,2,3]
list2=[4,5,6]
dict1={i:j for i,j in zip(list1,list2)}

In [ ]:
dict1

In [ ]:
str1="prakul jain"
dict1=

In [ ]:
dict1={}
str1="babab"
for i in range(0,len(str1)-1):
  for j in range(1,len(str1)+1):
    if str1[i:j] not in dict1:
      dict1[str1[i:j]]=1
    else:
      dict1[str1[i:j]]+=1
dict1

In [ ]:
# range  and  xrange
# range
# xrange list return
# range single intiger
for i in range(10):
  print (i)

In [ ]:
for i in range(1,6):
  for j in range(1,6-i):
    print(" ", end="")
  for k in range(1,i):
    if i==1:
      print("*", end=" ")
    else:
      print(" ", end=" ")
  print()
for i in range(1,6):
  for k in range(1,i):
    print(" ", end="")
  for j in range(1,6-i):
    print("*", end=" ")
  print()

In [ ]:
openB=[] ## VALID PARENTHESIS
x=0
data="(()"
for char in data:
    if char=="(":
        openB.append(char)
    elif(openB):
        if(char==")" and "("==openB.pop()):
            x=1
            x=1
        else:
            x=0
if(x==0 or len(openB)>0):
    print("invalid")
else:
    print("valid parenthesis")

In [ ]:
a = list(input().split())
a

In [ ]:
openB=[] ## VALID PARENTHESIS
x=0
data="(()"
for char in data:
    if char=="(":
        openB.append(char)
    elif(openB):
        if(char==")" and "("==openB.pop()):
            x=1
            x=1
        else:
            x=0
if(x==0 or len(openB)>0):
    print("invalid")
else:
    print("valid parenthesis")

invalid

In [ ]:
mylist=[]
for i in range(0,5):
  templist=[]
  for j in range(0,i+1):
    if(j==0 or j==i):
      templist.append(1)
    else:
      templist.append(mylist[i-1][j-1]+mylist[i-1][j])
  mylist.append(templist)
for i in mylist:
  for k in range(3,0,-1):
    print(" "*k,end=" ")
  print(i)

         [1]
         [1, 1]
         [1, 2, 1]
         [1, 3, 3, 1]
         [1, 4, 6, 4, 1]

In [ ]:
for i in range(1,6):
  for j in range(i,5):
    print(" ",end="")
  for j in range(1,i+1):
    print("*",end=" ")
  print()

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
a=10
for i in range(a):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
i

9

In [ ]:
a=0
while a<10:
  print(a)
  a+=1

0
1
2
3
4
5
6
7
8
9

In [ ]:
a

10

In [ ]:
nums = [-1,0,1,2,-1,-4]
list1=[]
nums.sort()
for i in range(0,len(nums)):
    for j in range(i+1,len(nums)):
        for k in range(j+1,len(nums)):
            if (nums[i] + nums[j] + nums[k] == 0) :
                if [nums[i] , nums[j] , nums[k]] in list1:
                    continue
                else:
                    list1.append([nums[i] , nums[j] , nums[k]])
print(list1)

[[-1, -1, 2], [-1, 0, 1]]

In [ ]:
nums.sort()
for i in range(0,len(nums)):
    for j in range(i+1,len(nums)):
        for k in range(j+1,len(nums)):
            if (nums[i] + nums[j] + nums[k] == 0) :
                if [nums[i] , nums[j] , nums[k]] in list1:
                    continue
                else:
                    list1.append([nums[i] , nums[j] , nums[k]])
print(list1)

NameError: name 'nums' is not defined

In [ ]:
# Find second highest value
# k highest


list2= [10,25,14,6,8,1,78,521,8,654,1,2,521]

# list2 = [1,1,2,3,4,5,45,3,5,3,5,4,3,21,1]
list2.sort()
print(list2)
start=0
while(start<len(list2)-1):
  if list2[start]==list2[start+1]:
    list2.remove(list2[start+1])
  else:
    start+=1
print(list2)
k = int( input ( " enter k highest valueee: "))
if k> len(list2):
  print(" enter in range list ")
else:
  print("The ",k,"highest value is ",list2[-k])

[1, 1, 2, 6, 8, 8, 10, 14, 25, 78, 521, 521, 654]
[1, 2, 6, 8, 10, 14, 25, 78, 521, 654]
 enter k highest valueee: 5
The  5 highest value is  14

In [ ]:
list1=[x for x in range(10) if x%2==0]

In [ ]:
list1

[0, 2, 4, 6, 8]

In [ ]:
set1={x for x in range(10) if x%2==0}

In [ ]:
set1

{0, 2, 4, 6, 8}

In [ ]:
dict1 = {x:x**2 for x in range(10)}

In [ ]:
dict1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
num1=int(input("Enter the num to convert into roman :"))
dict1={1000:"M",900:"CM",500:"D",400:"CD",100:"C",90:"XC",50:"L",40:"XL",10:"X",9:"IX",5:"V",4:"IV",1:"I"}
roman_num=""
for i in dict1:
  while(num1>=i):
    roman_num+=dict1[i]
    num1-=i
print(roman_num)

Enter the num to convert into roman :52
LII

In [ ]:
# set
myset= set({})
myset={1,2,3,4,5,6}
myset.add(10)

In [ ]:
dict1={x:1 for x in range(1,10)}
mylist=[x for x in range(1,10)]

In [ ]:
print(dict1)
print(type(mylist))

{1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1}
<class 'list'>

In [ ]:
dict1={x:y for x in range(10) for y in range(150)}

In [ ]:
dict1

{0: 149,
 1: 149,
 2: 149,
 3: 149,
 4: 149,
 5: 149,
 6: 149,
 7: 149,
 8: 149,
 9: 149}

In [ ]:
# introduction should be clear
# mo marrige status no male female
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
10 in mylist

False

In [ ]:
# {0 - 256} and it store in cache memory addresss in python

In [ ]:
x = 100
a=x
a=1002
x

100

In [ ]:
# Functions :
# a collection of statements
# a block of code
# which can reuse when we need
def add(a,b):
  global x
  x=10
  print("prakul jain ",x,)
  return a+b
z=10
print(add(10,12))
print(x)

prakul jain  10
22
10

In [ ]:
from typing import final

In [ ]:

a:final=10
a=13

In [ ]:
a

13

In [ ]:
a=13

In [ ]:
a

13

In [ ]:
# learning assignment
# keyword argument and default argument
# var len argument and keyword len argument (args and kwargs)
# high order func and first class func

In [ ]:
def square(n):
    return n * n

def apply_function(func, value):
    return func(value)  # Calling the passed function

print(apply_function(square, 5))

25

In [ ]:
def fun(name, course="DSA"): # 2
    print(name,course)
    print(name)
    print(course)
fun("prakul","data science")
# # Positional arguments
# fun("dsa","gfg" )  # POSITIONAL ARGUMENT
# fun(course="DSA",name="gfg") # KEYWORD ARGUMENT
# fun(name="gfg",course="DSA")

prakul data science
prakul
data science

In [ ]:
def function(*args):
  print(*args)
  print(type(args))
function(1,2,3,4,5,6,7)

1 2 3 4 5 6 7
<class 'tuple'>

In [ ]:
def function(**kwargs):
  print(kwargs)
  print(type(kwargs))
function(name="prakul",age=26,occupation = "accountant")

{'name': 'prakul', 'age': 26, 'occupation': 'accountant'}
<class 'dict'>

In [ ]:
square =  lambda x: x**2

In [ ]:
x=10

In [ ]:
square =  lambda x: x+1
print(square(x))

11

In [42]:
# aman mathur
# rajat namdi
# mehul
# gautam jangid

In [43]:
list1= ["hey","my","name","prakul"]
list1[0],list1[-1]=list1[-1],list1[0]

In [44]:
list1

['prakul', 'my', 'name', 'hey']

In [45]:
" ".join(list1)

'prakul my name hey'

In [46]:
mylist= [10,25,14,6,8,1,78,521,8,654,1,2,521]
x = list(map(lambda a:a%2==0,mylist))
x

[True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 False]

In [47]:
mylist= [10,25,14,6,8,1,78,521,8,654,1,2,521]
x = list(filter(lambda a:a%2==0,mylist))
x

[10, 14, 6, 8, 78, 8, 654, 2]

In [48]:
def generator(a):
    yield a
for i in generator(10):
  print(i)

10

In [49]:
def func():
  print("return ")
  yield 1
  yield 4
a= func()
b= next(a)

return

In [50]:
print(b)

1

In [51]:
print(b)

1

In [52]:
for i in range(10):
  print(a)

<generator object func at 0x7dac6ba5c580>
<generator object func at 0x7dac6ba5c580>
<generator object func at 0x7dac6ba5c580>
<generator object func at 0x7dac6ba5c580>
<generator object func at 0x7dac6ba5c580>
<generator object func at 0x7dac6ba5c580>
<generator object func at 0x7dac6ba5c580>
<generator object func at 0x7dac6ba5c580>
<generator object func at 0x7dac6ba5c580>
<generator object func at 0x7dac6ba5c580>

In [53]:
print(a)

<generator object func at 0x7dac6ba5c580>

In [54]:
def fibo(n):
    a,b =0,1
    for i in range(n):
      yield a
      a, b = b, a + b
n=10
for num in fibo(n):
  print(num , end = " ")

0 1 1 2 3 5 8 13 21 34

In [55]:
# decorators= it is a design patter which allows us to add a functionalaty to a object without modifing the structure
# a is basically a pattern which is used for the behaviour of the function     without changing the code
# variable scope / closure closure are basically a function that remember the enviroment of outer function (agr mere pass nested function h toh ye bhr wale function ki value le sakta h) any inner function can access outer variables even the outer function is closed

In [113]:
def func_add(func):
  def one():
    result = func()
    # print("inside one value =>", result.upper())
    return result.upper()
  return one

In [114]:
@func_add
def test():
  return " Prakul"

In [115]:
print(test())

 PRAKUL